{extend name="common/common"}
{block name="body"}

    <link rel="stylesheet" href="/css/course.css"/>
    <link rel="stylesheet" href="/css/tab.css" media="screen">


    <script src="/js/jquery-1.8.0.min.js"></script>
    <script src="/js/jquery.tabs.js"></script>
    <script src="/js/mine.js"></script>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->


<body>


<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="coursecont">
    <div class="courseleft">
	<span class="select">     	
      <input type="text" value="请输入关键字" class="pingjia_con"/>
      <a href="#" class="sellink"></a>        
    </span>
        <ul class="courseul">
            <li class="curr" style="border-radius:3px 3px 0 0;background:#fb5e55;"><h3 style="color:#fff;"><a href="#" class="whitea">题库分类</a></h3>
            <li>
                <h4>题库分类</h4>
                <ul class="sortul cla_name" name="cla_name">
                    {foreach $class as $k=>$v}
                        <li class="course_curr2"><a href="/index/bank/secondary?cla_id={$v.cla_id}">{$v.cla_name}</a></li>
                    {/foreach}
                </ul>
                <div class="clearh"></div>
            </li>
        </ul>
        <div style="height:20px;border-radius:0 0 5px 5px; background:#fff;box-shadow:0 2px 4px rgba(0, 0, 0, 0.1)"></div>
    </div>
    <div class="courseright">

        {foreach $bank as $p=>$k}
        <dl class="mulu">
            <dt><a href="#" class="graylink">{$k.bank_title}&nbsp;&nbsp;</a><span>{$k.bank_type==3?"问答题":"选择题"}</span></dt>
            <dd>{$k.bank_content}</dd>
        </dl>
        {/foreach}
        <div class="clearh" style="padding-top: 200px;">

        </div>

        </div>


    </div>
    <div class="clearh"></div>

<!-- InstanceEndEditable -->


<div class="clearh"></div>
    <script>
        $(document).ready(function(){
            $(".sortul").children('li').removeClass("course_curr");
        })
        $(document).on("click",".course_curr2",function(){
            var course_curr=$(this).text();
            console.log(course_curr);
        })
    </script>
    {/block}