{extend name="common/common"}
{block name="body"}
<!-- InstanceBeginEditable name="doctitle" -->
<title>谋刻职业教育在线测评与学习平台</title>

<link rel="stylesheet" href="/css/article.css">
<script src="/js/jquery-1.8.0.min.js"></script>
<script src="/js/mine.js"></script>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link rel="stylesheet" href="/css/course.css"/>

<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="coursecont">

    <!--</div>-->
    <div class="clearh"></div>
    <div class="coursetext">
        {foreach $ask as $k=>$v}
        <div class="articlelist">
            <h3><a class="artlink" href="#">{$v.issue_title}{$v.issue_name}</a></h3>
            <p>{$v.answer_name}</p>
            <p class="artilabel">
                <span class="ask_label">孟林永远滴神</span>
                <b class="labtime">{$v.add_time|date="Y-m-d"}</b>
            </p>
            <div class="clearh"></div>
        </div>
        {/foreach}

        <div class="clearh" style="height:20px;"></div>
	<span class="pagejump">
    	<p class="userpager-list">
            <a href="#" class="page-number">首页</a>
            <a href="#" class="page-number">上一页</a>
            <a href="#" class="page-number">1</a>
            <a href="#" class="page-number pageractive">2</a>
            <a href="#" class="page-number">3</a>
            <a href="#" class="page-number">...</a>
            <a href="#" class="page-number">10</a>
            <a href="#" class="page-number">下一页</a>
            <a href="#" class="page-number">末页</a>
        </p> 
    </span>
        <div class="clearh" style="height:10px;"></div>
    </div>

    <div class="courightext">
        <div class="ctext">
            <div class="cr1">
                <h3 class="righttit">热门问题</h3>
                <div class="gonggao">
                    <ul class="hotask">
                        {foreach $hot as $kk=>$vv}
                        <li><a class="ask_link" href="#"><strong>●</strong>{$vv.issue_title}{$vv.issue_name}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>



    </div>



    <div class="clearh"></div>

    <!-- InstanceEndEditable -->


    <div class="clearh"></div>
    <script>
        $(document).ready(function(){

        })
    </script>
    {/block}

