{extend name="common/common"}
{block name="body"}
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>谋刻职业教育在线测评与学习平台</title>

    <link rel="stylesheet" href="/css/article.css">
    <script src="/js/jquery-1.8.0.min.js"></script>
    <script src="/js/mine.js"></script>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="coursecont">
    <div class="coursepic">
        <h3 class="righttit">全部资讯</h3>
        <div class="clearh"></div>
    <span class="bread nob">
        <a class="fombtn cur" id="cur_1" href="#">全部资讯</a>
        <a class="fombtn" id="cur_2" href="#">热门资讯</a>
        <a class="fombtn" id="cur_4" href="#">精彩活动</a>
    </span>

    </div>
    <div class="clearh"></div>
<div>
    <!--咨询列表-->
    <div class="coursetext" id="articleList" style="display:block;">

        <!--<div class="articlelist articleList" >-->
            <!--<h3><a class="artlink" href="/index/article/ArtMinute"></a></h3>-->
            <!--<p>2015年第一季度山西省会计从业资格考务日程安排已公布，望各位同学周知。 按照《山西省财政厅关于印发会计从业资格无纸化考试管理规定的通知》(晋财会【2014】5号)，现将我省2015年一季度会计从业资格考试考务安排如下。 一、考试时间： 1、网上报名时间：3月2...</p>-->
            <!--<p class="artilabel">-->
                <!--<span class="ask_label">热门资讯</span>-->
                <!--<b class="labtime">2015-02-02</b>-->
            <!--</p>-->
            <!--<div class="clearh"></div>-->
        <!--</div>-->


        <div class="clearh" style="height:20px;"></div>
        <span class="pagejump">
            <p class="userpager-list">
                <a href="#" class="page-number">首页</a>
                <a href="#" class="page-number">上一页</a>
                <a href="#" class="page-number">1</a>
                <a href="#" class="page-number pageractive">2</a>
                <a href="#" class="page-number">3</a>
                <a href="#" class="page-number">...</a>
                <a href="#" class="page-number">10</a>
                <a href="#" class="page-number">下一页</a>
                <a href="#" class="page-number">末页</a>
            </p>
        </span>
            <div class="clearh" style="height:10px;"></div>
    </div>
    <!--热门咨询-->
    <div class="coursetext" id="articleHot" style="display:none">
        <!--<div class="articlelist" id="artHot">-->
            <!--<h3><a class="artlink" href="/index/article/ArtMinute">热热热</a></h3>-->
            <!--<p>2015年第一季度山西省会计从业资格考务日程安排已公布，望各位同学周知。 按照《山西省财政厅关于印发会计从业资格无纸化考试管理规定的通知》(晋财会【2014】5号)，现将我省2015年一季度会计从业资格考试考务安排如下。 一、考试时间： 1、网上报名时间：3月2...</p>-->
            <!--<p class="artilabel">-->
                <!--<span class="ask_label">热门资讯</span>-->
                <!--<b class="labtime">2015-02-02</b>-->
            <!--</p>-->
            <!--<div class="clearh"></div>-->
        <!--</div>-->


        <div class="clearh" style="height:20px;"></div>
        <span class="pagejump">
            <p class="userpager-list">
                <a href="#" class="page-number">首页</a>
                <a href="#" class="page-number">上一页</a>
                <a href="#" class="page-number">1</a>
                <a href="#" class="page-number pageractive">2</a>
                <a href="#" class="page-number">3</a>
                <a href="#" class="page-number">...</a>
                <a href="#" class="page-number">10</a>
                <a href="#" class="page-number">下一页</a>
                <a href="#" class="page-number">末页</a>
            </p>
        </span>
        <div class="clearh" style="height:10px;"></div>
    </div>
    <!--精彩活动-->
    <div class="coursetext" style="display:none" id="activities" >
        <!--<div class="articlelist activities">-->
            <!--<h3><a class="artlink" href="/index/article/ArtMinute">活动多栋</a></h3>-->
            <!--<p>2015年第一季度山西省会计从业资格考务日程安排已公布，望各位同学周知。 按照《山西省财政厅关于印发会计从业资格无纸化考试管理规定的通知》(晋财会【2014】5号)，现将我省2015年一季度会计从业资格考试考务安排如下。 一、考试时间： 1、网上报名时间：3月2...</p>-->
            <!--<p class="artilabel">-->
                <!--<span class="ask_label">热门资讯</span>-->
                <!--<b class="labtime">2015-02-02</b>-->
            <!--</p>-->
            <!--<div class="clearh"></div>-->
        <!--</div>-->


        <div class="clearh" style="height:20px;"></div>
        <span class="pagejump">
            <p class="userpager-list">
                <a href="#" class="page-number">首页</a>
                <a href="#" class="page-number">上一页</a>
                <a href="#" class="page-number">1</a>
                <a href="#" class="page-number pageractive">2</a>
                <a href="#" class="page-number">3</a>
                <a href="#" class="page-number">...</a>
                <a href="#" class="page-number">10</a>
                <a href="#" class="page-number">下一页</a>
                <a href="#" class="page-number">末页</a>
            </p>
        </span>
        <div class="clearh" style="height:10px;"></div>
    </div>
</div>
    <div class="courightext">
        <!--热门资讯-->
        <!--<div class="ctext">-->
            <!--<div class="cr1">-->
                <!--<h3 class="righttit">热门资讯</h3>-->
                <!--<div class="gonggao">-->
                    <!--<ul class="hotask">-->

                        <!--<li><a class="ask_link" href="#"><strong>●</strong>请问女子监狱人民狱人民警察?</a></li>-->

                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--推荐课程-->
        <div class="ctext "  >
            <div class="cr1">
                <h3 class="righttit">推荐课程</h3>
                <div class="teacher" id="courseNew">
                    <!--内容-->
                </div>
            </div>
        </div>

    </div>



    <div class="clearh"></div>

<!-- InstanceEndEditable -->


<div class="clearh"></div>
    <script>
        $(document).ready(function(){
//            资讯列表
            $('#cur_1').click(function(){
                $(this).addClass('cur');
                $(this).siblings().removeClass('cur');
                $('#articleList').css("display","block");
                $('#articleList').siblings().css("display","none");

            })

//热门资讯
            $('#cur_2').click(function(){
                $('#cur_2').addClass('cur');
                $('#cur_2').siblings().removeClass('cur');
                $('#articleHot').css("display","block");
                $('#articleHot').siblings().css("display","none");
                //调接口
                $.ajax({
                    url:"http://www.tp6.com/api/article/articleHot",
                    type:"post",
//                data:{},
                    dataType:"json",
                    success:function(res){
                        var data=res.data
                        var div="";
                        for(var i in data){
                            div+= "<div class='articlelist HotList' id='HotList'>"+
                                    "<h3><a class='artlink' href='/index/article/ArtMinute'>"+data[i].message_title+"</a></h3>"+
                                    "<p></p>"+
                                    "<p class='artilabel'>"+
                                    "<span class='ask_label'>"+data[i].message_name+"</span>"+
                                    "<b class='labtime'>"+data[i].add_time+"</b> "+
                                    "</p>"+
//                                    "<div class='clearh'></div>"+
                                    "</div>"
                        }
                        $('.HotList').remove();
                        $('#articleHot').prepend(div);
                    }
                })
            })
//精彩活动
            $('#cur_4').click(function(){
                $('#cur_4').addClass('cur');
                $('#cur_4').siblings().removeClass('cur');
                $('#activities').css("display","block");
                $('#activities').siblings().css("display","none");
                //调接口
                $.ajax({
                    url:"http://www.tp6.com/api/article/activities",
                    type:"post",
//                data:{},
                    dataType:"json",
                    success:function(res){
                        var data=res.data
                        var div="";

                        for(var i in data){
                            div+= "<div class='articlelist activity' id='activity'>"+
                                    "<h3><a class='artlink' href='/index/article/ArtMinute'>"+data[i].act_title+"</a></h3>"+
                                    "<p></p>"+
                                    "<p class='artilabel'>"+
                                    "<span class='ask_label'>"+data[i].act_content+"</span>"+
                                    "<b class='labtime'>"+data[i].add_time+"</b> "+
                                    "</p>"+
                                    "<div class='clearh'></div>"+
                                    "</div>"
                        }
                        $('.activity').remove();
                        $('#activities').prepend(div);
                    }
                })
            })

            //资讯列表调接口
            $.ajax({
                url:"http://www.tp6.com/api/article/articleIndex",
                type:"post",
//                data:{},
                dataType:"json",
                success:function(res){
                    var data=res.data
                    var div="";

                    for(var i in data){
                        div+= "<div class='articlelist artList' id='artList'>"+
                                "<h3><a class='artlink' href='/index/article/ArtMinute'>"+data[i].message_title+"</a></h3>"+
                                "<p></p>"+
                                "<p class='artilabel'>"+
                                "<span class='ask_label'>"+data[i].message_name+"</span>"+
                                "<b class='labtime'>"+data[i].add_time+"</b> "+
                                "</p>"+
                                "<div class='clearh'></div>"+
                                "</div>"
                    }
                    $('.artList').remove();
                    $('#articleList').prepend(div);

                }
            })
            //课程最新
            $.ajax({
                url:"http://www.tp6.com/api/article/courseNew",
                type:"post",
//                data:{},
                dataType:"json",
                success:function(res){
                    var data=res.data
                    var div="";

                    for(var i in data){
                        div+= '<div class="teapic courseNew">'+
                              '<a href="#"  target="_blank"><img src="/images/c1.jpg" height="60" title="'+data[i].course_name+'"></a>'+
                              '<h3 class="courh3"><a href="#" class="ask_link" target="_blank">'+data[i].course_name+'</a></h3>'+
                                '</div>'
                    }
                    $('.courseNew').remove();
                    $('#courseNew').prepend(div);

                }
            })

        })
    </script>

{/block}

