{extend name="common/common"}
{block name="body"}
<link rel="stylesheet" href="/css/course.css"/>
<script src="/js/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" href="/css/tab.css" media="screen">
<script src="/js/jquery.tabs.js"></script>
<script src="/js/mine.js"></script>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="coursecont" style="background: none repeat scroll 0 0 #fff;border-radius: 3px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" >
    <h3 class="righttit" style="padding-left:50px;">优秀讲师</h3>
    {foreach $data as $k=>$v}
    <div class="coursepic tecti">
        <div class="teaimg" >
            <a href="#" target="_self"  ><img src="/images/lin.jpg" width="150"></a>
        </div>
        <div class="teachtext"  lect_id="{$v.lect_id}">
            <h3><a href="/index/teacher/teacherPage?lest_id={$v.lect_id}" id="lect_id" target="_self" class="teatt">{$v.lect_name}</a>&nbsp;&nbsp;<strong>{$v.cate_name}</strong></h3>
            <h4>个人简介</h4>
            <p>{$v.lect_resume}</p>
            <h4>授课风格</h4>
            <p>{$v.lect_style}</p>
        </div>
        <div class="clearh"></div>
    </div>
    {/foreach}
</div>
<!-- InstanceEndEditable -->


<div class="clearh"></div>
{/block}
