{extend name="common/common"}
{block name="body"}
<link rel="stylesheet" href="/css/course.css"/>
<script src="/js/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" href="/css/tab.css" media="screen">
<script src="/js/jquery.tabs.js"></script>
<script src="/js/mine.js"></script>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="coursecont">
    <div class="coursepic tecti">
        <div class="teaimg">
            <img src="/images/lin.jpg" width="150">
        </div>
        <div class="teachtext">
            <h3>吴孟林&nbsp;&nbsp;<strong>mysqld</strong></h3>
            <h4>个人简介</h4>
            <p>除了php啥也干，专业没的问题，你们看着办，就是</p>
            <h4>授课风格</h4>
            <p>花里胡哨</p>
        </div>
        <div class="clearh"></div>
    </div>

    <div class="clearh"></div>

    <div class="tcourselist">
        <h3 class="righttit" style="padding-left:50px;">在教课程</h3>
        <ul class="tcourseul">
            <li>
                <span class="courseimg tcourseimg"><a href="coursecont.html" target="_blank"><img width="230" src="/images/c8.jpg"></a></span>
                <span class="tcoursetext">
	       <h4><a href="coursecont.html" target="_blank" class="teatt">会计从业资格会计基础</a><a class="state">更新中</a></h4>
	       <p class="teadec">会计从业资格会计基础会计从业资格会计基础会计础会计从业资格会计基础会计从业资格会计基础会计础会计从业资格会计基础会计从业资格会计基础会计础</p>
	       <p class="courselabel clock">30课时 600分钟<span class="courselabel student">2555人学习</span><span class="courselabel pingjia">评价：<img width="71" height="14" src="/images/evaluate.png" data-bd-imgshare-binded="1"></span></p>
	   </span>
                <div style="height:0" class="clearh"></div>
            </li>
            <li>
                <span class="courseimg tcourseimg"><a href="coursecont.html" target="_blank"><img width="230" src="/images/c8.jpg"></a></span>
                <span class="tcoursetext">
	       <h4><a href="coursecont.html" target="_blank" class="teatt">会计从业资格会计基础</a><a class="state">更新中</a></h4>
	       <p class="teadec">会计从业资格会计基础会计从业资格会计基础会计础会计从业资格会计基础会计从业资格会计基础会计础会计从业资格会计基础会计从业资格会计基础会计础</p>
	       <p class="courselabel clock">30课时 600分钟<span class="courselabel student">2555人学习</span><span class="courselabel pingjia">评价：<img width="71" height="14" src="/images/evaluate.png" data-bd-imgshare-binded="1"></span></p>
	   </span>
                <div style="height:0" class="clearh"></div>
            </li>
            <div class="clearh"></div>
        </ul>
    </div>

    <input type="hidden" id="lest_id" value="{$_GET['lest_id']}">
    <div class="clearh"></div>
</div>
<!-- InstanceEndEditable -->


<div class="clearh"></div>
<script>
        $(function () {
            var id=$('#lest_id').val();
            var url="__APIURL__/api/lect/teacherPage";
            $.ajax(
                {
                    type:"post",
                    dataType:"json",
                    url:url,
                    data:{lect_id:id},
                    success:function(res){
                        console.log(res)
                        $('.teatt').text(cate_name);
                    }
                })
        })
        // location.href="http://www.tp6.com/api/lect/teacherPage?lect_id="+lect_id
</script>
{/block}
