{extend name="common/common"}
{block name="body"}
<link rel="stylesheet" href="/css/course.css"/>
<script src="/js/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" href="/css/tab.css" media="screen">
<script src="/js/jquery.tabs.js"></script>
<script src="/js/mine.js"></script>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="coursecont">
    <div class="coursepic tecti">
        <div class="teaimg">
            <img src="/images/lin.jpg" width="150">
        </div>
        <div class="teachtext">
            <h3 class="lect_name">吴孟林11&nbsp;&nbsp</h3>
            <h5>所授语言</h5>
            <p class="cate_name"></p>
            <h5>个人简介</h5>
            <p class="lect_resume                         ">除了php啥也干，专业没的问题，你们看着办，就是</p>
            <h5>授课风格</h5>
            <p class="lect_style">花里胡哨</p>
        </div>
        <div class="clearh"></div>
    </div>

    <div class="clearh"></div>

    <div class="tcourselist">
        <h3 class="righttit" style="padding-left:50px;">在教课程</h3>
        <ul class="tcourseul ul">

        </ul>
    </div>

    <input type="hidden" id="lest_id" value="{$_GET['lest_id']}">
    <div class="clearh"></div>
</div>
<!-- InstanceEndEditable -->


<div class="clearh"></div>
<script>
        $(function () {
            var id=$('#lest_id').val();
            var url="__APIURL__/api/lect/teacherPage";
            $.ajax(
                {
                    type:"post",
                    dataType:"json",
                    url:url,
                    data:{lect_id:id},
                    success:function(res){
                        $('.cate_name').html(res.cate_name)
                        $('.lect_name').html(res.lect_name)
                        $('.lect_resume').html(res.lect_resume)
                        $('.lect_style').html(res.lect_style)
                    }
                })
        })


        $(function () {
            var id=$('#lest_id').val();
            var url="__APIURL__/api/lect/teachercourse";
            $.ajax(
                {
                    type:"post",
                    dataType:"json",
                    url:url,
                    data:{lect_id:id},
                    success:function(res){
                        console.log(res)

                        var html="";
                        for (var i=0;i<res.length;i++){
                            html+= '<li> <span class="courseimg tcourseimg"><a href="coursecont.html" target="_self" class="course_image"><img width="230" src="__IMGURL__/uploads/'+res[i].course_image+'"></a></span> <span class="tcoursetext"> <h4><a href="coursecont.html" target="_self" class="teatt course_name">'+res[i].course_name+'</a><a class="state">更新中</a></h4> <p class="teadec course_desc">'+res[i].course_desc+'</p> <p class="courselabel clock">30课时 600分钟<span class="courselabel student">2555人学习</span><span class="courselabel pingjia">评价：<img width="71" height="14" src="/images/evaluate.png" data-bd-imgshare-binded="1"></span></p> </span> <div style="height:0" class="clearh"></div> </li> <div class="clearh"></div>'
                            // $(".course_name").html(res[i].course_name)
                            // $(".course_image").html("<img width=\"230\" src=__IMGURL__/uploads/"+res[i].course_image+">")
                            // $(".course_desc").html(res[i].course_desc)
                        }
                        $(".ul").html(html)

                    }
                })
        })
</script>
{/block}
