{extend name="common/common"}
{block name="body"}

<link rel="stylesheet" href="/css/course.css"/>
<link rel="stylesheet" href="/css/tab.css" media="screen">
<script src="/js/jquery-1.8.0.min.js"></script>
<script src="/js/jquery.tabs.js"></script>
<script src="/js/mine.js"></script>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style>
    span.page {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    span.page b.page2 {display: inline;}

    span.page b.page2 a {
        margin-left:20px;
        margin-top:20px;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #0e0e0e;
    }
    span.page b.page2 a:hover:not(.active) {background-color: #46a546;}
</style>


<body>

<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="coursecont">
    <div class="courseleft">
	<span class="select">
      <input type="text" value="请输入关键字" class="pingjia_con"/>
      <a href="#" class="sellink"></a>
    </span>
        <ul class="courseul">
            <li class="curr" data-id="" style="border-radius:3px 3px 0 0;background:#fb5e55;"><h3 style="color:#fff;"><a href="#" class="whitea course_curr2">全部课程</a></h3>
        </ul>
        <div style="height:20px;border-radius:0 0 5px 5px; background:#fff;box-shadow:0 2px 4px rgba(0, 0, 0, 0.1)"></div>
    </div>
    <div class="courseright">
        <div class="clearh"></div>
        <ul class="courseulr">

        </ul>
    </div>
    <span class="page"></span>
    <div class="clearh"></div>

    <!-- InstanceEndEditable -->
    <input type="hidden" id="page" value="{$_GET['page']??1}">
    <div class="clearh"></div>
    <script>
        $(function () {
            var url='__APIURL__/api/course';
            $.ajax({
                type:'post',
                url:url,
                dataType:'json',
                success:function (info) {
                    var data=info.data;
                    var newsTotalNum = data.length;
                    var str='';
                    var cpage=$('#page').val();
                    var page=3;
                    var pageNum = Math.ceil(newsTotalNum/page);
                    var offset=(cpage-1)*page;
                    var str2='';
                    for(var ii=0;ii<=pageNum-1;ii++){
                        var int=ii+1;
                        str2+='<b class="page2"><a href="/index/course/course?page='+int+'">'+int+'</a></b>'
                    }
                    $('.page').append(str2);
                    var data2=data.slice(offset,offset+page);
                    for(var i in data2){
                        str+='<li><div class="courselist"><a href="/index/course/coursePage?course_id='+data2[i].course_id+'" target="_blank"><img style="border-radius:3px 3px 0 0;" width="240" src="__IMGURL__/uploads/'+data2[i].course_image+'" title="'+data2[i].course_name+'"></a><p class="courTit"><a href="/index/course/coursePage?course_id='+data2[i].course_id+'" target="_blank">'+data2[i].course_name+'</a></p><div class="gray"> <span>30课时 600分钟</span> <span class="sp1">1255555人学习</span> <div style="clear:both"></div> </div> </div> </li>';
                    }
                    $('.courseulr').append(str);
                }
            })
            var url2='__APIURL__/api/course/cate';
            $.ajax({
                type:'post',
                url:url2,
                dataType:'json',
                success:function (info) {
                    if(info.code==200){
                        var data=info.data;
                        var str='';
                        for(var i in data){
                            str+='<li>';
                            str+='<h4>'+data[i].cate_name+'</h4>';
                            var cate=data[i].cate;
                            str+='<ul class="sortul">';
                            for(var ii in cate){
                                str+='<li class="course_curr course_curr2" data-id="'+cate[ii].cate_id+'"><a href="#">'+cate[ii].cate_name+'</a></li>';
                            }
                            str+='</ul>';
                            str+='<div class="clearh"></div>';
                            str+='</li>';
                        }
                        $('.courseul').append(str);
                    }
                }
            })
            //分类搜索
            $(document).on('click','.course_curr2',function () {
                var id=$(this).data('id');
                var url='__APIURL__/api/course';
                var data={cate_id:id};
                $.ajax({
                    type:'post',
                    url:url,
                    data:data,
                    dataType:'json',
                    success:function (info) {
                        var data=info.data;
                        var newsTotalNum = data.length;
                        var str='';
                        var cpage=$('#page').val();
                        var page=3;
                        var pageNum = Math.ceil(newsTotalNum/page);
                        var offset=(cpage-1)*page;
                        var str2='';
                        for(var ii=0;ii<=pageNum-1;ii++){
                            var int=ii+1;
                            str2+='<b class="page2"><a href="/index/course/course?page='+int+'">'+int+'</a></b>'
                        }
                        $('.page').text('');
                        $('.page').append(str2);
                        var data2=data.slice(offset,offset+page);
                        for(var i in data2){
                            str+='<li><div class="courselist"><a href="/index/course/coursePage?course_id='+data2[i].course_id+'" target="_blank"><img style="border-radius:3px 3px 0 0;" width="240" src="__IMGURL__/uploads/'+data2[i].course_image+'" title="'+data2[i].course_name+'"></a><p class="courTit"><a href="/index/course/coursePage" target="_blank">'+data2[i].course_name+'</a></p><div class="gray"> <span>30课时 600分钟</span> <span class="sp1">1255555人学习</span> <div style="clear:both"></div> </div> </div> </li>';
                        }
                        $('.courseulr').text('');
                        var cou=$('.courseulr').text();
                        if(cou==''){
                            $('.courseulr').append(str);
                        }
                    }
                })
            });
        })
    </script>
    {/block}