<!doctype html>
<html>
<!--图标库-->
<link rel="stylesheet" href="/asset/css/all.min.css">

<!--图标库-->
<script src="/asset/js/all.min.js"></script>

<!--核心样式-->
<link rel="stylesheet" href="/asset/css/modallayer.min.css">

<!--插件-->
<script src="/asset/js/modallayer-ie.min.js"></script>
<style>
    #test-button-container {
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        width: 145px;
        margin: 0px auto;
        text-align: center;
        transform: translateY(-50%);
    }

    #test-button-container button {
        width: 145px;
        margin: 5px 0px;
        padding: 10px 0px;
    }
</style>
<head>
    <meta charset="utf-8">
    <title>谋刻职业教育在线测评与学习平台</title>
    <!--课程选项卡-->
    <!--<link rel="stylesheet" href="/layui/css/layui.css">-->
    <script type="text/javascript">
        function nTabs(thisObj,Num){
            if(thisObj.className == "current")return;
            var tabObj = thisObj.parentNode.id;
            var tabList = document.getElementById(tabObj).getElementsByTagName("li");
            for(i=0; i <tabList.length; i++)
            {
                if (i == Num)
                {
                    thisObj.className = "current";
                    document.getElementById(tabObj+"_Content"+i).style.display = "block";
                }else{
                    tabList[i].className = "normal";
                    document.getElementById(tabObj+"_Content"+i).style.display = "none";
                }
            }
        }

//        layui.use('element', function(){
//            var element = layui.element;
//
//            layui.use('layer', function(){
//                var layer = layui.layer;
//                return false;
////      layer.msg('hello');
//            });
//        });

    </script>


</head>

<body>


<div class="head" id="fixed">
    <div class="nav">
        <span class="navimg"><a href="/index"><img border="0" src="/images/logo.png"></a></span>
        <ul class="nag">
            <li><a href="/index/course/course" class="link1">课程</a></li>
            <li><a href="/index/article" class="link1">资讯</a></li>
            <li><a href="/index/teacher/teacher" class="link1">讲师</a></li>
            <li><a href="/index/bank" class="link1" target="_self">题库</a></li>
            <li><a href="/index/askarea" class="link1" target="_self">问答</a></li>
        </ul>

        <span class="massage">
        <!--<span class="select">
        	<a href="#" class="sort">课程</a>
        	<input type="text" value="关键字"/>
            <a href="#" class="sellink"></a>
            <span class="sortext">
            	<p>课程</p>
                <p>题库</p>
                <p>讲师</p>
            </span>
        </span>-->

            <a href="/index/user/login" class="link2 he">登录</a>
            <a href="/index/user/reg" class="link2 he">注册</a>
            <a href="/index/user_centre" style="position:relative;width:70px" class="link2 he ico" target="_blank">个人中心</a>
<!--            <a href="mycourse.html"  onMouseOver="logmine()" style="width:70px" class="link2 he ico" target="_blank">sherley</a>-->
<!--            <span id="lne" style="display:none" onMouseOut="logclose()" onMouseOver="logmine()">-->
<!--                <span style="background:#fff;">-->
<!--                	<a href="mycourse.html" style="width:70px; display:block;" class="link2 he ico" target="_blank">sherley</a>-->
<!--                </span>-->
<!--                <div class="clearh"></div>-->
<!--                <ul class="logmine" >-->
<!--                    <li><a class="link1" href="#">我的课程</a></li>-->
<!--                    <li><a class="link1" href="#">我的题库</a></li>-->
<!--                    <li><a class="link1" href="#">我的问答</a></li>-->
<!--                    <li><a class="link1" href="#">退出</a></li>-->
<!--                </ul>-->
<!--            </span>-->
        </span>
    </div>
</div>